DB_DSN=
DB_HOSTNAME=localhost
DB_USERNAME=your_db_user
DB_PASSWORD=your_db_password
DB_DATABASE=your_db_name
DB_DRIVER=mysqli
DB_PREFIX=sma_
DB_PCONNECT=false
DB_DEBUG=false
DB_CACHE_ON=false
DB_CACHEDIR=
DB_CHARSET=utf8
DB_COLLAT=utf8_general_ci
DB_SWAP_PRE=
DB_ENCRYPT=false
DB_COMPRESS=false
DB_STRICTON=false
DB_SAVE_QUERIES=false
